---
- 
  name: Install nginx Certbot
  hosts: nginx_certbot
  tasks:
    - name: "Install certbot"
      apt:
        name: certbot
        state: present
    - name: "Install certbot nginx plugin"
      apt:
        name: python3-certbot-nginx
        state: present
    - name: "Add options-ssl-nginx.conf to nginx config"
      copy:
        src: ../files/options-ssl-nginx.conf
        dest: /etc/letsencrypt/options-ssl-nginx.conf 
    - name: "Run certbot standalone"
      command: '/usr/bin/certbot -n --agree-tos --email {{ cert_admin_email }} run --nginx --domains {{ item }}'
      loop: "{{ ssl_domains_list }}"
      loop_control:
        loop_var: item
