---
-
  name: "Install pkdoverije dockered app"
  hosts: pkdoverije
  tasks:
    - name: "Установка папки сайта"
      file:
        path: /var/www/pkdoverije
        state: absent
        owner: www-data
        group: www-data
    - name: Get latest Application Codebase
      git:
        repo: git@github.com:nlv/nlv.github.io.git
        version: main 
        dest: /var/www/pkdoverije
        single_branch: yes
        accept_hostkey: true
        depth: 1

    - name: "Add default nginx configurtion"
      template:
        src: ../files/nginx_pkdoverije.j2
        dest: /etc/nginx/sites-available/pkdoverije
    - name: "Enable default"
      file:
        src: /etc/nginx/sites-available/pkdoverije
        dest: /etc/nginx/sites-enabled/pkdoverije
        state: link
    - name: "Load vhost for default"
      service:
        name: nginx
        state: reloaded

