<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.url">jdbc:mariadb://{{ xwiki_mariadb_host }}:{{ xwiki_mariadb_port }}/{{ xwiki_mariadb_database }}</property>
    <property name="hibernate.connection.username">{{ xwiki_mariadb_user }}</property>
    <property name="hibernate.connection.password">{{ xwiki_mariadb_password }}</property>
    <!-- остальные настройки БД -->
  </session-factory>
</hibernate-configuration>


